<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Coding Challenge</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <article id="leaderboard">
        <header id="leaderboard-header">
            <h1 class="leaderboard__title">
                <span class="leaderboard__title--top">Refresh</span>
                <span class="leaderboard__title--bottom">Fetching trending repositories</span>
            </h1>
        </header>
        


        <div id="leaderboard-body">
        <!-- Build list based on fetch api-->
        </div>
        <div class="leaderboard__descripto">askdljfa;sljdf;lsjssssssssssssssssssssssssssssssssssssssssssdf</div>

    </article>

</body>

<script src="viewJS.js"></script>

</html>